{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <!-- Nav -->
    <!--
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="generic.html">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
    </nav>
    -->

  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <header>
          <h1>Fight for your community</h1>
          <p>Enabling community organizers to fight for communities with resources they need.</p>
        </header>
        <a href="#main" class="button big scrolly">Learn More</a>
      </div>
    </section>

  <!-- Main -->
    <div id="main">

      <!-- Section -->
        <section class="wrapper style1">
          <div class="inner">
            <!-- 2 Columns -->
              <div class="flex flex-2">
                <div class="col col1">
                  <div class="image round fit">
                    <a href="generic.html" class="link"><img src="images/pic01.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="col col2">
                  <h3>SponsorLane Nonprofit</h3>
                  <p>Nonprofit funding is getting cut. There’s never been a more important time for community members to step up. Your community need you to make it through.</p>
                  <p>Our mission at SponsorLane is to enable community organizers to build their communities by connecting them to resources.</p>
                  <p>We’ve already mapped out 200 Bay Area companies that generously sponsor community based events. And, 200 nonprofits have already started using us to find things like food, beverages, and gift cards.

                  With more and more community organizing happening, we need to move a lot faster. Community groups need these resources. Help us map community resources across the United States.</p>
                  <a href="#" class="button">Learn More</a>
                </div>
              </div>
          </div>
        </section>

      <!-- Section -->
        <section class="wrapper style2">
          <div class="inner">
            <div class="flex flex-2">
              <div class="col col2">
                <h3>How to use the open resource?</h3>
                <p>Enter location, and filter by resource needed (e.g. transportation, protesting materials, food/beverage). Then click "contact" to message everyone who's would like to offer their help!</p>
                <a href="#" class="button">Learn More</a>
              </div>
              <!--
              <div class="col col1 first">
                <div class="image round fit">
                  <a href="generic.html" class="link"><img src="images/pic02.jpg" alt="" /></a>
                </div>
              </div>-->
            </div>
          </div>
        </section>

      <!-- Section -->
        <section class="wrapper style1">
          <div class="inner">
            <header class="align-center">
              <h2>Over 500k entries</h2>
            </header>
            <div class="flex flex-3">
              <div class="col align-center">
                <div class="image round fit">
                  <img src="images/pic03.jpg" alt="" />
                </div>
                <p>Food and drink: pizza, water, energy drink.</p>
                <a href="#" class="button">Learn More</a>
              </div>
              <div class="col align-center">
                <div class="image round fit">
                  <img src="images/pic05.jpg" alt="" />
                </div>
                <p>Transportation: providing ride, uber/lyft ride reimbursement.</p>
                <a href="#" class="button">Learn More</a>
              </div>
              <div class="col align-center">
                <div class="image round fit">
                  <img src="images/pic04.jpg" alt="" />
                </div>
                <p>Misc: cough drop, blanket, usb cable/portable charger.</p>
                <a href="#" class="button">Learn More</a>
              </div>
            </div>
          </div>
        </section>

    </div>
 <!--
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
{% endblock %}
